<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Polar</title>

        <!-- FOR ANGULAR ROUTING -->
    	<base href="/">

    	<!-- CSS  -->
    	<!-- load bootstrap from CDN and custom CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/css/materialize.min.css">
        <link rel="stylesheet" href="assets/css/main.css">

        <style>
        @import url('https://fonts.googleapis.com/css?family=Roboto:100');
        </style>

    	<!-- JS -->
    	<!-- load angular and angular-route via CDN -->
        <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/js/materialize.min.js"></script>
    	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular.min.js"></script>
    	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular-route.js"></script>
    	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular-animate.js"></script>

    	<!-- controllers -->
    	<script src="app/controllers/mainCtrl.js"></script>

    	<!-- services -->
    	<script src="app/services/noteService.js"></script>

    	<!-- main Angular app files -->
    	<script src="app/app.routes.js"></script>
    	<script src="app/app.js"></script>
    </head>
    <body ng-app="polarApp" ng-controller="mainController as main">

         <div ng-if="!checkLoggedIn" class= "card-panel red lighten-2">
             <h3><center><span class="blue-grey-text text-lighten-5">Polar</span></center></h3>
             <div align = "right" >
                <p>Please <a href="/auth/google" target="_self">Login</a></p>
            </div>

        </div>

        <div class="" ng-if="checkLoggedIn">
            <div class="row">
                <div class="col xl2" id="sidebar">
                    <label><input ng-model="searchText" placeholder="Search"></label>
                    <table id="searchTextResults">
                        <tr ng-repeat="note in allNotes | filter:searchText">
                            <td ng-click="selectNote(note)"><p>{{note.title}}</p></td>

                        </tr>
                    </table>
                </div>

                <div class="col xl10" id="editor">
                    <input type="text" name="" value="" ng-model="currentNote.title">
                    <textarea name="name" rows="8" cols="80" ng-model="currentNote.markdownBody"></textarea>
                </div>

            </div>

            <div class="row">
                <div class="col xl2" id="user-info">
                    <p>Hello, {{ user.name }}!</p>
                    <a href="/logout" target="_self" class="">Logout</a>
                </div>
            </div>

        </div>



    </body>
</html>
