<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Polar</title>

    <!-- FOR ANGULAR ROUTING -->
    <base href="/">

    <!-- FAVICON -->
    <link rel="apple-touch-icon" sizes="57x57" href="assets/img/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="assets/img/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="assets/img/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="assets/img/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="assets/img/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="assets/img/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="assets/img/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="assets/img/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="assets/img/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="assets/img/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="assets/img/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/img/favicon/favicon-16x16.png">
    <link rel="manifest" href="assets/img/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="assets/img/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <!-- CSS  -->
    <!-- load bootstrap from CDN and custom CSS -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/css/materialize.min.css">
    <link rel="stylesheet" href="assets/css/main.css">
    <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <style>
    @import url('https://fonts.googleapis.com/css?family=Roboto:100');
    </style>

    <!-- JS -->
    <!-- load angular and angular-route via CDN -->

    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/js/materialize.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular.js"></script>

    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
    <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script> -->
    <link rel="stylesheet" href="bower_components/simplemde/dist/simplemde.min.css">
    <script src="bower_components/simplemde/dist/simplemde.min.js"></script>
    <script src="bower_components/simplemde-angular/dist/simplemde-angular.js"></script>

    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular-sanitize.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular-route.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular-animate.js"></script>



    <script src="app/directive.js"></script>

    <!-- controllers -->
    <script src="app/controllers/mainCtrl.js"></script>

    <!-- services -->
    <script src="app/services/noteService.js"></script>

    <!-- main Angular app files -->
    <script src="app/app.routes.js"></script>
    <script src="app/app.js"></script>

    <script src="assets/js/typed.js"></script>
    <script type="text/javascript">
    $(function(){
        $(".type").typed({
            strings: [
                "Take notes flawlessly",
                "Organize your life",
                "Look its typing"
            ]
        })
    })
    $(document).ready(function() {
        $('.modal').modal();
    });
    </script>

</head>
<body ng-app="polarApp" ng-controller="mainController as main">
    <div ng-if="!checkLoggedIn">

        <div class="container">
            <div class="row">
                <img src="assets\img\63341.jpg" class="img-responsive" id="snowflake">
            </div>
        </div>

        <div class="container">
            <div class="row">
                <h1 id="logo"> POLAR </h1>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <h3 style="height:200px" align="center" class="type"></h3>
            </div>
        </div>

        <div class="row">
            <div class="center">
                <a href="/auth/google" target="_self" class="waves-effect btn-large hoverable red accent-2"> Login </a>
            </div>
        </div>

        <div class="container">
            <div class="row" id="horLine">
                <h3>Features</h3>
            </div>
            <div class="row">
                <div class="col l6 m12 s 12">
                    <div class="card medium blue lighten-2 z-depth-2">
                        <div class="card-content white-text">
                            <h3 class="center-align">
                                <i class="fa fa-folder-open-o fa-3x" aria-hidden="true"></i>
                            </h3>
                            <div class="divider"></div>
                            <span class="card-title">Organize</span>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed in erat tristique, posuere mi sed,
                                iaculis eros. Sed feugiat pulvinar ultrices. Fusce lacus ex, condimentum nec cursus sit amet,
                                laoreet vitae enim. Phasellus vitae nibh et quam ultricies rhoncus. Quisque et luctus diam, ut lobortis nunc.</p>
                            </div>

                        </div>
                    </div>

                    <div class="col l6 m12 s 12">
                        <div class="card medium light-blue darken-3 z-depth-2">
                            <div class="card-content white-text">
                                <h3 class="center-align">
                                    <i class="fa fa-share-alt fa-3x" aria-hidden="true"></i>
                                </h3>
                                <div class="divider"></div>
                                <span class="card-title">Share</span>
                                <p>Nullam non nulla ultricies, euismod massa in, dignissim dui. Praesent ultrices ante lorem, ut pulvinar
                                    purus lacinia non. Fusce commodo ullamcorper turpis, vel rhoncus odio lacinia non. Fusce vestibulum
                                    tincidunt pulvinar. Pellentesque suscipit ultricies scelerisque. Nam maximus libero ligula. </p>
                                </div>

                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col l6 m12 s 12">
                            <div class="card  medium light-blue darken-3 z-depth-2">
                                <div class="card-content white-text">
                                    <h3 class="center-align">
                                        <i class="fa fa-calculator fa-3x" aria-hidden="true"></i>
                                    </h3>
                                    <div class="divider"></div>
                                    <span class="card-title">Calculate</span>
                                    <p>Nullam non nulla ultricies, euismod massa in, dignissim dui. Praesent ultrices ante lorem,
                                        ut pulvinar purus lacinia non. Fusce commodo ullamcorper turpis, vel rhoncus odio lacinia non.
                                        Fusce vestibulum tincidunt pulvinar. Pellentesque suscipit ultricies scelerisque. Nam maximus libero ligula.</p>
                                    </div>

                                </div>
                            </div>

                            <div class="col l6 m12 s 12">
                                <div class="card medium blue lighten-2 z-depth-2">
                                    <div class="card-content white-text">
                                        <h3 class="center-align">
                                            <i class="fa fa-calendar fa-3x" aria-hidden="true"></i>
                                        </h3>
                                        <div class="divider"></div>
                                        <span class="card-title">Plan</span>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed in erat tristique, posuere mi sed,
                                            iaculis eros. Sed feugiat pulvinar ultrices. Fusce lacus ex, condimentum nec cursus sit amet,
                                            laoreet vitae enim. Phasellus vitae nibh et quam ultricies rhoncus. Quisque et luctus diam, ut lobortis nunc.</p>
                                        </div>

                                    </div>
                                </div>

                            </div>

                            <!--<center><img src = "assets\img\63341.jpg"></center>
                            <h3><center><span class  ="blue-grey-text text-lighten-5">Polar</span></center></h3>
                            <div align = "right" >
                            <p>Please <a href="/auth/google" target="_self">Login</a></p>
                        </div>-->

                    </div>
                </div>


                <div class="" ng-show="checkLoggedIn">
                    <div class="row">
                        <div id="wrapper">
                            <div class="col l2" id="sidebar">
                                <span>
                                    <label><input ng-model="searchText" placeholder="Search"></label>
                                    <a id="newNoteBtn" class="waves-effect btn btn-floating btn-medium hoverable red lighten-2" ng-click="newNote()"><i class="material-icons">edit</i></a>
                                </span>

                                <table id="searchTextResults">
                                    <tr ng-repeat="note in allNotes | filter:searchText" ng-class="{selected: note._id === currentNote._id}">
                                        <td ng-click="selectNote(note)"><p>{{note.title}}</p></td>
                                    </tr>
                                </table>
                            </div>
                        </div>

                        <div class="col xl10" id="editor" ng-show="noteSelected">
                            <input type="text" name="" value="" ng-model="currentNote.title" placeholder="Title">

                            <!-- <div class="" contenteditable="true" ng-model="currentNote.markdownBody"></div> -->

                            <div class="fixed-action-btn horizontal click-to-toggle">
                                <a class="btn-floating btn-large red">
                                    <i class="material-icons">menu</i>
                                </a>
                                <ul>
                                    <li><a class="btn-floating red" href="#modal1"><i class="material-icons">insert_chart</i></a></li>
                                    <li><a class="btn-floating yellow darken-1"><i class="material-icons">format_quote</i></a></li>
                                    <li><a class="btn-floating green"><i class="material-icons">publish</i></a></li>
                                    <li><a class="btn-floating blue"><i class="material-icons">attach_file</i></a></li>
                                    <li><a id="dltNoteBtn" href="#modal2" class="waves-effect btn btn-floating btn-medium hoverable red lighten-2"><i class="material-icons">delete</i></a></li>
                                </ul>
                            </div>

                            <textarea id="textArea" simplemde='{ autofocus: true, spellChecker: false, tabSize: 4, toolbar: false }' ng-model="currentNote.markdownBody"></textarea>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col xl2" id="user-info">
                            <p>Hello, {{ user.name }}!</p>
                            <a href="/logout" target="_self" class="">Logout</a>
                        </div>
                    </div>

                    <div id="modal1" class="modal modal-fixed-footer">
                        <div class="modal-content">
                            <h4>Help</h4>
                            <p>A bunch of text</p>
                        </div>
                        <div class="modal-footer">
                            <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Close</a>
                        </div>
                    </div>

                    <div id="modal2" class="modal">
                        <div class="modal-content">
                            <h4>Are you sure you want to delete this note?</h4>
                        </div>
                        <div class="modal-footer">
                            <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">No</a>
                            <a href="#!" ng-click="deleteNote();" class="modal-action modal-close waves-effect waves-green btn-flat">Yes</a>
                        </div>
                    </div>

                </div>

            </body>
            </html>
