<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Polar</title>

        <!-- FOR ANGULAR ROUTING -->
    	<base href="/">

    	<!-- CSS  -->
    	<!-- load bootstrap from CDN and custom CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/css/materialize.min.css">
        <link rel="stylesheet" href="assets/css/main.css">
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

        <style>
        @import url('https://fonts.googleapis.com/css?family=Roboto:100');
        </style>

    	<!-- JS -->
    	<!-- load angular and angular-route via CDN -->
        <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/js/materialize.min.js"></script>
    	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular.min.js"></script>
    	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular-route.js"></script>
    	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular-animate.js"></script>
        <script type="text/javascript" src="assets/js/scripts.js"></script>

    	<!-- controllers -->
    	<script src="app/controllers/mainCtrl.js"></script>

    	<!-- services -->
    	<script src="app/services/noteService.js"></script>

    	<!-- main Angular app files -->
    	<script src="app/app.routes.js"></script>
    	<script src="app/app.js"></script>
    </head>
    <body ng-app="polarApp" ng-controller="mainController as main">


         <div ng-if="!checkLoggedIn">

             <div class="container">
                <div class="row">
                        <img src="assets\img\63341.jpg" class="img-responsive" id="snowflake">
                </div>
            </div>

           <div class="container">
                <div class="row">
                    <h1 id="logo"> POLAR </h1>
                </div>
            </div>

            <div class="container">
                <div class="row">
                    <h3 id="logo-text"> Take notes </h3>
                </div>
            </div>

            <div class="row">
                <div class="center">
                    <a href="/auth/google" target="_self" class="waves-effect btn-large hoverable red accent-2"> Login </a>
                </div>
            </div>

            <div class="container">
                <div class="row" id="horLine">
                    <h3>Features</h3>
                </div>
                <div class="row">
                    <div class="col l6 m12 s 12">
                        <div class="card medium blue lighten-2 z-depth-2">
                            <div class="card-content white-text">
                                <h3 class="center-align">
                                    <i class="fa fa-folder-open-o fa-3x" aria-hidden="true"></i>
                                </h3>
                                <div class="divider"></div>
                                <span class="card-title">Organize</span>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed in erat tristique, posuere mi sed,
                                    iaculis eros. Sed feugiat pulvinar ultrices. Fusce lacus ex, condimentum nec cursus sit amet,
                                    laoreet vitae enim. Phasellus vitae nibh et quam ultricies rhoncus. Quisque et luctus diam, ut lobortis nunc.</p>
                            </div>

                        </div>
                    </div>

                    <div class="col l6 m12 s 12">
                        <div class="card medium light-blue darken-3 z-depth-2">
                            <div class="card-content white-text">
                                <h3 class="center-align">
                                    <i class="fa fa-share-alt fa-3x" aria-hidden="true"></i>
                                </h3>
                                <div class="divider"></div>
                                <span class="card-title">Share</span>
                                <p>Nullam non nulla ultricies, euismod massa in, dignissim dui. Praesent ultrices ante lorem, ut pulvinar
                                    purus lacinia non. Fusce commodo ullamcorper turpis, vel rhoncus odio lacinia non. Fusce vestibulum
                                    tincidunt pulvinar. Pellentesque suscipit ultricies scelerisque. Nam maximus libero ligula. </p>
                            </div>

                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col l6 m12 s 12">
                        <div class="card  medium light-blue darken-3 z-depth-2">
                            <div class="card-content white-text">
                                <h3 class="center-align">
                                    <i class="fa fa-calculator fa-3x" aria-hidden="true"></i>
                                </h3>
                                <div class="divider"></div>
                                <span class="card-title">Calculate</span>
                                <p>Nullam non nulla ultricies, euismod massa in, dignissim dui. Praesent ultrices ante lorem,
                                    ut pulvinar purus lacinia non. Fusce commodo ullamcorper turpis, vel rhoncus odio lacinia non.
                                    Fusce vestibulum tincidunt pulvinar. Pellentesque suscipit ultricies scelerisque. Nam maximus libero ligula.</p>
                            </div>

                        </div>
                    </div>

                    <div class="col l6 m12 s 12">
                        <div class="card medium blue lighten-2 z-depth-2">
                            <div class="card-content white-text">
                                <h3 class="center-align">
                                    <i class="fa fa-calendar fa-3x" aria-hidden="true"></i>
                                </h3>
                                <div class="divider"></div>
                                <span class="card-title">Plan</span>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed in erat tristique, posuere mi sed,
                                    iaculis eros. Sed feugiat pulvinar ultrices. Fusce lacus ex, condimentum nec cursus sit amet,
                                    laoreet vitae enim. Phasellus vitae nibh et quam ultricies rhoncus. Quisque et luctus diam, ut lobortis nunc.</p>
                            </div>

                        </div>
                    </div>

                </div>

             <!--<center><img src = "assets\img\63341.jpg"></center>
             <h3><center><span class  ="blue-grey-text text-lighten-5">Polar</span></center></h3>
             <div align = "right" >
                <p>Please <a href="/auth/google" target="_self">Login</a></p>
            </div>-->

        </div>
    </div>


        <div class="" ng-if="checkLoggedIn">
            <div class="row">
                <div class="col xl2" id="sidebar">
                    <label><input ng-model="searchText" placeholder="Search"></label>
                    <table id="searchTextResults">
                        <tr ng-repeat="note in allNotes | filter:searchText">
                            <td ng-click="selectNote(note)"><p>{{note.title}}</p></td>

                        </tr>
                    </table>
                </div>

                <div class="col xl10" id="editor" ng-if="noteSelected">
                    <input type="text" name="" value="" ng-model="currentNote.title" placeholder="Title">
                    <textarea name="name" rows="8" cols="80" ng-model="currentNote.markdownBody" placeholder="Body"></textarea>
                </div>

            </div>

            <div class="row">
                <div class="col xl2" id="user-info">
                    <p>Hello, {{ user.name }}!</p>
                    <a href="/logout" target="_self" class="">Logout</a>
                </div>
            </div>

        </div>



    </body>
</html>
