<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Polar</title>

        <!-- FOR ANGULAR ROUTING -->
    	<base href="/">

        <!-- FAVICON -->
        <link rel="apple-touch-icon" sizes="57x57" href="assets/img/favicon/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="assets/img/favicon/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="assets/img/favicon/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="assets/img/favicon/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="assets/img/favicon/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="assets/img/favicon/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="assets/img/favicon/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="assets/img/favicon/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="assets/img/favicon/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192"  href="assets/img/favicon/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="assets/img/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="assets/img/favicon/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="assets/img/favicon/favicon-16x16.png">
        <link rel="manifest" href="assets/img/favicon/manifest.json">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="assets/img/favicon/ms-icon-144x144.png">
        <meta name="theme-color" content="#ffffff">

    	<!-- CSS  -->
    	<!-- load bootstrap from CDN and custom CSS -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="assets/css/test.css">
        <link rel="stylesheet" href="assets/css/main.css">
        <script src="https://code.jquery.com/jquery-3.2.1.js"></script>

        <style>
        @import url('https://fonts.googleapis.com/css?family=Roboto:100');
        </style>

    	<!-- JS -->
    	<!-- load angular and angular-route via CDN -->

        <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/js/materialize.min.js"></script>
    	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular.js"></script>

        <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
        <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script> -->
        <link rel="stylesheet" href="bower_components/simplemde/dist/simplemde.min.css">
        <script src="bower_components/simplemde/dist/simplemde.min.js"></script>
        <script src="bower_components/simplemde-angular/dist/simplemde-angular.js"></script>

        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular-sanitize.js"></script>
    	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular-route.js"></script>
    	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular-animate.js"></script>



        <script src="app/directive.js"></script>

    	<!-- controllers -->
    	<script src="app/controllers/mainCtrl.js"></script>

    	<!-- services -->
    	<script src="app/services/noteService.js"></script>

    	<!-- main Angular app files -->
    	<script src="app/app.routes.js"></script>
    	<script src="app/app.js"></script>

        <script src="assets/js/typed.js"></script>

    </head>
    <body ng-app="polarApp" ng-controller="mainController as main">
        <header>
            <nav class="top-nav">
                <div class="nav-wrapper">
                    <a class="brand-logo center">Polar</a>
                    <ul class="left hide-on-med-and-down">
                        <li><a href="#" data-activates="slide-out" class="button-collapse top-nav full hide-on-large-only"><i class="material-icons">menu</i></a></li>
                    </ul>
                </div>
            </nav>
        </header>

        <div id="side" class="container">
            <ul id="slide-out" class="side-nav fixed" style="transform: translateX(0%);">
                <li class="note" ng-repeat="note in allNotes">{{ note.title }}</li>
            </ul>
        </div>

        <main>
            <div class="container">
                asdf
            </div>
        </main>

        <script type="text/javascript">
            $(".button-collapse").sideNav();
        </script>
    </body>
</html>
