
@media (min-width: 992px) {
    .button-collapse {
        display:none;
    }

    main {
        padding-left: 300px;
    }
}

footer {
      padding-left: 300px;
}

ul {
    list-style: none;
    padding-left:10px;
    margin-top: 0px;
}

.note {
    border-top: 1px solid #e7e7e7;
    padding: 10px 0px 10px 10px;
}

html, body {
    width: 100%;
}

main {
    margin-left: 5px;
}

nav {
    width: 100%;
    background-color: #ee6e73;
    box-shadow: none;
}

.brand-logo {
    -webkit-user-select: none; /* Chrome/Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
    cursor: default;
}

.container {
    width: 100%;
}

.nav-wrapper {
}

#slide-out {
    height: calc(100% - 64px);
    margin-top: 64px;
}

a.button-collapse.top-nav {
    line-height: 65px;
    position: absolute;
    text-align: center;
    height: 48px;
    width: 48px;
    left: 2%;
    top: 0;
    float: none;
    margin-left: 1.5rem;
    font-size: 36px;
    z-index: 2;
    color: white;
}

@media all and (min-width:321px) and (max-width: 992px) {
    #slide-out {
        margin-top: 0px;
        height: 100%;
    }
}

#search {
    padding-left: 20px;
    padding-top: 15px;
    width: 225px;
}

.container {
    max-width: none;
}

#user {
    font-size: 16px;
    position: fixed;
    bottom: 0px;
    width: 100%;
    padding: 5px 0px 10px 15px;
    background-color: #f9f9f9;
    border-top: 1px solid #e7e7e7;
}

#user p {
    margin-top: 5px;
}
