
@media (min-width: 992px) {
    .button-collapse {
        display:none;
    }

    main {
        padding-left: 300px;
    }
}

footer {
      padding-left: 300px;
}

ul {
    list-style: none;
    padding-left:10px;
    margin-top: 0px;
}

.note {
    border-top: 1px solid #e7e7e7;
    padding: 10px 0px 10px 10px;
}

html, body {
    width: 100%;
}

main {
    margin-left: 5px;
}

nav {
    width: 100%;
    background-color: #ee6e73;
    box-shadow: none;
}

.container {
    width: 100%;
}

.nav-wrapper {
}

#slide-out {
    margin-top: 64px;
}

a.button-collapse.top-nav {
    line-height: 65px;
    position: absolute;
    text-align: center;
    height: 48px;
    width: 48px;
    left: 2%;
    top: 0;
    float: none;
    margin-left: 1.5rem;
    font-size: 36px;
    z-index: 2;
    color: white;
}

@media all and (min-width:321px) and (max-width: 992px) {
    #slide-out {
        margin-top: 0px;
    }
}
